<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Digite o seu Email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha: </label>
            <input type="password" name="password" placeholder="Digite a sua senha" required>
        </div>
        <div class="form-control">
            <label for="accessKey">Chave de Acesso: </label>
            <input type="password" name="accessKey" placeholder="Digite a chave de acesso">
        </div>
        <div class="form-control">
            <label for="accessKeySecret">Segredo da Chave de Acesso: </label>
            <input type="password" name="accessKeySecret" placeholder="Digite o segredo da chave de acesso">
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem conta? <a href="/register">Clique Aqui</a></p>
        <p>Esqueceu a senha? <a href="/recoverPassword">Clique aqui</a></p>
    </form>
</div>